body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, var(--bg-light), var(--bg-dark));
    color: var(--text-color);
}

header {
      display: flex;
      flex-wrap: wrap;
      margin: 40px;
      justify-content: space-between;
      padding: 20px 20px;
      gap: 20px;
      text-align: center;
    }

header .section{
    display: flex;
    font-weight: 700;
    font-size: 18px;
    gap: 60px;

}

main .cabecalho2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .cabecalho2 .foto{
    margin-left: 5%;
    width: 25%;
    border: 8px solid white;
    border-radius: 2px;
}

main .cabecalho2 .about{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 8%;
}
main .cabecalho2 .about h1{
    font-size: 60px;
    width: 70%;
}

main .cabecalho2 .about p{
    
    font-size: 30px;
    width: 70%;
    
}